
body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 0.8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
    list-style-type: none;
}›

nav .nav, nav .nav-logo {
    margin: 0.5rem;
    display: inline;
}

#intro {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

.header {
    text-align: center;
}

#intro button {
    color: white;
    font-weight: bold;
    background-color: #c2195b;
    border-radius: 25px;
    font-size: 1rem;
    padding: 1rem;
}
/*
- The selector used is a descendant selector. Even though there is only one button present in the page, this is appropriate as it helps in code readability telling the developer that the button is located in the intro section. 
- The "font-weight" property changes the thickness of text. 
- The "padding" property is used here because we want to make the button larger by creating space from the text content to the borders of the button.
*/

#succeed-info {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

#succeed-info h2 {
    margin-bottom: 1rem;
}

#succeed-info .card {
    vertical-align: top;
    max-height: 180spx;
    width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 20px;
}


footer {
    padding: 0.7rem;
}

footer span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#pre-footer {
    height: 12 rem;
    background-color: #002540;
    color: white;
    }

#pre-footer div {
    display: inline-block;
    vertical-align: top;
    max-height: 150px;
    width: 22%;
    margin-left: 0.2rem;
    margin-right: 0.2rem;

}

#pre-footer.div h3 {
    display: inline-block;
    vertical-align: top;
    max-height: 150px;
    width: 22%;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    }

#pre-footer.div p {margin: .5rem 1 rem}


